# 7770 и 5590  - коментарии для коммитов

# рабочая директрория курса DST
DST-101-Modul
# игнорируем все папки с кешем и их содержимым
**/__pycache__/
# файл данных большого объёма
Project_1/data/dst-3.0_16_1_hh_database.csv
# служебный файл
requirements.txt
# настройка рабочей среды
IDE.code-workspace
# текущий рабочий файл
!sql_library.ipynb