# 7770 и 5590  - коментарии для коммитов

# рабочая директрория курса DST
DST-101-Modul
# игнорируем все папки с кешем и их содержимым
**/__pycache__/
# файлы данных большого объёма
Project_1/data/dst-3.0_16_1_hh_database.csv
Project_3/data/hotels.csv
# служебный файл
requirements.txt
requirements_7770.txt
requirements_5590.txt
# настройка рабочей среды
IDE.code-workspace
# текущий рабочий файл 
!sql_library.ipynb